* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

:root {
  -white-: #ffffff;
}

body {
  background-color: var(-white-);
}

.header {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.header .navbar {
  margin-top: 20px;
  position: absolute;
  border: 1px solid rgba(131, 129, 129, 0.438);
  box-shadow: 2px 2px 3px 1px rgba(131, 129, 129, 0.438);
  width: 35%;
  border-radius: 10px;
  position: fixed;
  z-index: 10000;
  background-color: rgba(255, 255, 255, 0.568);
}
.header .navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.header .navbar ul li a {
  text-decoration: none;
  color: black;
  font-weight: 200;
  padding: 5px 10px;
  border-radius: 3px;
  transition: all 200ms ease;
}
.header .navbar ul li:hover a {
  color: white;
}
.header .navbar ul li {
  width: 19%;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .navbar ul li:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
.header .navbar ul li:active {
  color: #0a0a0a;
}
.header .navbar ul li:active:after {
  background: transparent;
}
.header .navbar ul li:hover:before {
  opacity: 1;
}
.header .navbar ul li:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
  transition: all 300ms ease;
}
.header .navbar ul a {
  color: white;
}
.header .navbar li:hover:after {
  background-color: rgba(24, 24, 27, 0.9803921569);
  color: white;
}
.header .header-main {
  padding: 160px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
}
.header .header-main .header-main_left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .header-main .header-main_left img {
  border-radius: 50%;
  width: 50%;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.575);
  pointer-events: none;
}
.header .header-main .header-main_right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 50%;
  display: inline;
}
.header .header-main .header-main_right span {
  margin-bottom: 20px;
}
.header .header-main .header-main_right span a {
  text-decoration: none;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.877);
  color: white;
  display: inline;
  padding: 7px 27px;
  border-radius: 7px;
  transition: all 300ms ease;
}
.header .header-main .header-main_right span a i {
  font-size: 25px;
  margin-left: 10px;
  color: white;
}
.header .header-main .header-main_right span a:hover {
  background-color: rgb(126, 204, 230);
  color: black;
}
.header .header-main .header-main_right span a:hover i {
  color: black;
}
.header .header-main .header-main_right h1 {
  font-size: 50px;
  font-weight: 200;
}
.header .header-main_bottom {
  position: absolute;
  bottom: 25px;
}
.header .header-main_bottom p::before {
  content: "";
  display: block;
  position: absolute;
  left: -210%;
  top: 50%;
  width: 200%;
  height: 2px;
  border-radius: 10spx;
  background-color: rgba(65, 65, 65, 0.5568627451);
  z-index: -1;
}
.header .header-main_bottom P::after {
  content: "";
  display: block;
  position: absolute;
  left: 110%;
  top: 50%;
  width: 200%;
  height: 2px;
  border-radius: 10spx;
  background-color: rgba(65, 65, 65, 0.5568627451);
  z-index: -1;
}

.section_projects {
  padding: 150px 70px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.section_projects .port_mask {
  width: 35%;
  border-radius: 10px;
  transition: all 300ms ease;
  position: relative;
  cursor: pointer;
}
.section_projects .port_mask img {
  width: 100%;
  transition: all 500ms ease;
  border-radius: 10px;
}
.section_projects .port_mask .maskk {
  width: 100%;
  background-color: rgba(236, 234, 234, 0.5568627451);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 90px;
  position: absolute;
  z-index: -1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: all 300ms ease;
}
.section_projects .port_mask .maskk i {
  font-size: 35px;
}
.section_projects .port_mask:first-child {
  margin-bottom: 100px;
}
.section_projects .port_mask:nth-child(2) {
  margin-bottom: 100px;
}
.section_projects .port_mask:hover .maskk {
  transform: translateY(-50px);
}

.techs {
  padding: 100px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.techs div {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.techs div h3 {
  font-size: 30px;
  margin-bottom: 10px;
}
.techs div i {
  font-size: 50px;
  color: black;
  cursor: pointer;
  transition: all 300ms ease;
}
.techs div i:hover {
  color: rgb(126, 204, 230);
}
.techs div .i_cons {
  flex-direction: row;
  width: 70%;
  justify-content: space-between;
}
.techs div .i_cons:nth-child(2) {
  justify-content: space-evenly;
}
.techs .lenguajes .i_cons {
  width: 100%;
}

.about_me {
  margin-top: 40px;
  display: flex;
  padding: 60px 20px;
}
.about_me .about-me_left {
  padding: 10px;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.about_me .about-me_left img {
  margin-right: 10%;
  width: 35%;
  border-radius: 50%;
  pointer-events: none;
}
.about_me .about-me_right {
  padding: 10px;
  flex-basis: 50%;
}
.about_me .about-me_right h2 {
  font-size: 35px;
  margin-bottom: 20px;
}
.about_me .about-me_right ul {
  list-style: none;
}
.about_me .about-me_right ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  transition: all 300ms ease;
}
.about_me .about-me_right ul li i {
  font-size: 20px;
  margin-right: 15px;
}
.about_me .about-me_right ul li:hover {
  color: rgb(126, 204, 230);
}

.footer {
  background-color: #18181b;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0;
}
.footer .footer_left {
  display: flex;
  width: 30%;
  justify-content: center;
  align-items: center;
}
.footer .footer_left p {
  border-right: 1px solid white;
  margin-right: 10px;
  padding-right: 5px;
}
.footer .footer_left a {
  color: white;
  text-decoration: none;
  font-size: 10px;
}
.footer .footer_right {
  width: 20%;
  display: flex;
  justify-content: space-between;
}
.footer .footer_right a {
  text-decoration: none;
  color: white;
  transition: all 300ms ease;
}
.footer .footer_right a:hover {
  border-bottom: 1px solid white;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
/*animation on scroll with js*/
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition: all 300ms ease;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/*responsive*/
@media (max-width: 1440px) {
  .header .header-main {
    padding: 160px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
  }
  .header .header-main .header-main_right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis: 30%;
    display: inline;
  }
  .section_projects {
    padding: 185px 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .about_me {
    margin-top: 40px;
    display: flex;
    padding: 100px 20px;
  }
}
@media (max-width: 1024px) {
  .header .navbar {
    margin-top: 20px;
    position: absolute;
    border: 1px solid rgba(131, 129, 129, 0.438);
    box-shadow: 2px 2px 3px 1px rgba(131, 129, 129, 0.438);
    width: 55%;
    border-radius: 10px;
    position: fixed;
    z-index: 10000;
    background-color: rgba(255, 255, 255, 0.568);
  }
  .section_projects {
    padding: 185px 70px;
    display: flex;
    flex-direction: column;
  }
  .section_projects .port_mask {
    width: 65%;
    border-radius: 10px;
    transition: all 300ms ease;
    position: relative;
    cursor: pointer;
  }
  .footer .footer_left {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
  }
  .footer .footer_left p {
    border-right: 1px solid white;
    margin-right: 10px;
    padding-right: 5px;
    font-size: 10px;
  }
  .footer .footer_right {
    width: 30%;
    display: flex;
    justify-content: space-between;
  }
  .footer .footer_right a {
    text-decoration: none;
    color: white;
    transition: all 300ms ease;
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  .header .navbar {
    margin-top: 20px;
    position: absolute;
    border: 1px solid rgba(131, 129, 129, 0.438);
    box-shadow: 2px 2px 3px 1px rgba(131, 129, 129, 0.438);
    width: 70%;
    border-radius: 10px;
    z-index: 10000;
    background-color: rgba(255, 255, 255, 0.568);
    position: fixed;
  }
  .header .header-main {
    padding: 160px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
  }
  .header .header-main .header-main_left {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header .header-main .header-main_right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis: 40%;
    display: inline;
  }
  .section_projects {
    padding: 185px 10px;
    display: flex;
    flex-direction: column;
  }
  .footer .footer_left p {
    border-right: 1px solid white;
    margin-right: 10px;
    padding-right: 5px;
    font-size: 8px;
  }
}
@media (max-width: 425px) {
  .header .navbar ul li a {
    text-decoration: none;
    color: black;
    font-weight: 200;
    padding: 5px 10px;
    border-radius: 3px;
    transition: all 200ms ease;
    font-size: 10px;
  }
  .header .header-main {
    padding: 160px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
  }
  .header .header-main .header-main_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 40%;
  }
  .header .header-main_bottom p::before {
    content: "";
    display: block;
    position: absolute;
    left: -105%;
    top: 50%;
    width: 100%;
    height: 2px;
    border-radius: 10spx;
    background-color: rgba(65, 65, 65, 0.5568627451);
    z-index: -1;
  }
  .header .header-main_bottom P::after {
    content: "";
    display: block;
    position: absolute;
    left: 110%;
    top: 50%;
    width: 100%;
    height: 2px;
    border-radius: 10spx;
    background-color: rgba(65, 65, 65, 0.5568627451);
    z-index: -1;
  }
  .section_projects {
    padding: 185px 10px;
    display: flex;
    flex-direction: column;
  }
  .section_projects .port_mask {
    width: 100%;
    border-radius: 10px;
    transition: all 300ms ease;
    position: relative;
    cursor: pointer;
  }
  .about_me .about-me_left {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about_me {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 20px;
  }
  .about_me .about-me_left img {
    margin-right: 0%;
    width: 60%;
    border-radius: 50%;
    pointer-events: none;
  }
  .techs div {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .footer {
    background-color: #18181b;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 15px;
  }
  .footer .footer_left a {
    color: white;
    text-decoration: none;
    font-size: 10px;
    display: none;
  }
  .footer .footer_left {
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
  }
  .footer .footer_right {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer .footer_left p {
    border-right: 1px solid white;
    margin-right: 6px;
    padding-right: 4px;
    font-size: 8px;
  }
  .footer .footer_right a {
    text-decoration: none;
    color: white;
    transition: all 300ms ease;
    font-size: 8px;
  }
}
@media (max-width: 375px) {
  .header .navbar {
    margin-top: 20px;
    position: absolute;
    border: 1px solid rgba(131, 129, 129, 0.438);
    box-shadow: 2px 2px 3px 1px rgba(131, 129, 129, 0.438);
    width: 80%;
    border-radius: 10px;
    z-index: 10000;
    background-color: rgba(255, 255, 255, 0.568);
    position: fixed;
  }
}
@media (max-width: 320px) {
  .header .header-main .header-main_right h1 {
    font-size: 50px;
    font-weight: 200;
    text-align: center;
  }
  .section_projects {
    padding: 185px 50px;
    display: flex;
    flex-direction: column;
  }
  .section_projects .port_mask {
    width: 100%;
    border-radius: 10px;
    transition: all 300ms ease;
    position: relative;
    cursor: pointer;
  }
  .section_projects {
    padding: 185px 5px;
    display: flex;
    flex-direction: column;
  }
  .techs div i {
    font-size: 35px;
    color: black;
    cursor: pointer;
    transition: all 300ms ease;
  }
  .footer {
    background-color: #18181b;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    padding: 30px 15px;
  }
  .footer .footer_left {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .footer .footer_right {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
}/*# sourceMappingURL=styles.css.map */