* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

:root {
  -white-: #ffffff;
}

body {
  background: #141414;
}

.header {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.header .navbar {
  margin-top: 20px;
  position: absolute;
  border: 1px solid rgba(131, 129, 129, 0.438);
  box-shadow: 2px 2px 3px 1px rgba(131, 129, 129, 0.438);
  width: 35%;
  border-radius: 10px;
  position: fixed;
  z-index: 10000;
  background-color: rgba(245, 245, 245, 0.712);
}
.header .navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.header .navbar ul li a {
  text-decoration: none;
  color: black;
  font-weight: 200;
  padding: 5px 10px;
  border-radius: 3px;
  transition: all 200ms ease;
}
.header .navbar ul li:hover a {
  color: white;
}
.header .navbar ul li {
  width: 19%;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .navbar ul li:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
.header .navbar ul li:active {
  color: #0a0a0a;
}
.header .navbar ul li:active:after {
  background: transparent;
}
.header .navbar ul li:hover:before {
  opacity: 1;
}
.header .navbar ul li:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
  transition: all 300ms ease;
}
.header .navbar ul a {
  color: white;
}
.header .navbar .switch-button {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  margin: auto;
  height: 55px;
}
.header .navbar .switch-button {
  position: absolute;
  top: 0;
  right: -90%;
  margin-right: 20px;
}
.header .navbar .switch-button .switch-outer {
  height: 100%;
  background: #252532;
  width: 115px;
  border-radius: 165px;
  box-shadow: inset 0px 5px 10px 0px #16151c, 0px 3px 6px -2px #403f4e;
  border: 1px solid #32303e;
  padding: 6px;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.header .navbar .switch-button .switch-outer input[type=checkbox] {
  opacity: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.header .navbar .switch-button .switch-outer .button-toggle {
  height: 42px;
  width: 42px;
  background: linear-gradient(#3b3a4e, #272733);
  border-radius: 100%;
  box-shadow: inset 0px 5px 4px 0px #424151, 0px 4px 15px 0px #0f0e17;
  position: relative;
  z-index: 2;
  transition: left 0.3s ease-in;
  left: 0;
}
.header .navbar .switch-button .switch-outer input[type=checkbox]:checked + .button .button-toggle {
  left: 58%;
}
.header .navbar .switch-button .switch-outer input[type=checkbox]:checked + .button .button-indicator {
  animation: indicator 1s forwards;
}
.header .navbar .switch-button .switch-outer .button {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.header .navbar .switch-button .switch-outer .button-indicator {
  height: 25px;
  width: 25px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  border: 3px solid #ef565f;
  box-sizing: border-box;
  right: 10px;
  position: relative;
}
.header .navbar li:hover:after {
  background-color: rgba(24, 24, 27, 0.9803921569);
  color: white;
}
.header .header-main {
  padding: 160px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
}
.header .header-main .header-main_left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .header-main .header-main_left img {
  border-radius: 50%;
  width: 60%;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.575);
  pointer-events: none;
}
.header .header-main .header-main_right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 50%;
  display: inline;
}
.header .header-main .header-main_right span {
  margin-bottom: 20px;
}
.header .header-main .header-main_right span a {
  text-decoration: none;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.877);
  color: white;
  display: inline;
  padding: 7px 27px;
  border-radius: 7px;
  transition: all 300ms ease;
}
.header .header-main .header-main_right span a i {
  font-size: 25px;
  margin-left: 10px;
  color: white;
}
.header .header-main .header-main_right span a:hover {
  background-color: rgb(126, 204, 230);
  color: black;
}
.header .header-main .header-main_right span a:hover i {
  color: black;
}
.header .header-main .header-main_right h1 {
  font-size: 50px;
  font-weight: 200;
  color: whitesmoke;
}
.header .header-main_bottom {
  position: absolute;
  bottom: 25px;
}
.header .header-main_bottom p {
  color: whitesmoke;
}
.header .header-main_bottom p i {
  color: whitesmoke;
}
.header .header-main_bottom p::before {
  content: "";
  display: block;
  position: absolute;
  left: -210%;
  top: 50%;
  width: 200%;
  height: 2px;
  border-radius: 10spx;
  background-color: whitesmoke;
  z-index: -1;
}
.header .header-main_bottom P::after {
  content: "";
  display: block;
  position: absolute;
  left: 110%;
  top: 50%;
  width: 200%;
  height: 2px;
  border-radius: 10spx;
  background-color: whitesmoke;
  z-index: -1;
}

.section_projects {
  padding: 150px 70px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.section_projects .port_mask {
  width: 35%;
  border-radius: 10px;
  transition: all 300ms ease;
  position: relative;
  cursor: pointer;
}
.section_projects .port_mask img {
  width: 100%;
  transition: all 500ms ease;
  border-radius: 10px;
}
.section_projects .port_mask .maskk {
  width: 100%;
  background-color: rgba(236, 234, 234, 0.5568627451);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 90px;
  position: absolute;
  z-index: -1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: all 300ms ease;
}
.section_projects .port_mask .maskk i {
  font-size: 35px;
}
.section_projects .port_mask:first-child {
  margin-bottom: 100px;
}
.section_projects .port_mask:nth-child(2) {
  margin-bottom: 100px;
}
.section_projects .port_mask:hover .maskk {
  transform: translateY(-50px);
}

.techs {
  padding: 100px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.techs div {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.techs div h3 {
  font-size: 30px;
  margin-bottom: 10px;
  color: rgba(126, 204, 230, 0.767);
}
.techs div i {
  font-size: 50px;
  color: whitesmoke;
  cursor: pointer;
  transition: all 300ms ease;
}
.techs div i:hover {
  color: rgb(126, 204, 230);
}
.techs div .i_cons {
  flex-direction: row;
  width: 70%;
  justify-content: space-between;
}
.techs div .i_cons:nth-child(2) {
  justify-content: space-evenly;
}
.techs .lenguajes .i_cons {
  width: 100%;
}

.about_me {
  margin-top: 40px;
  display: flex;
  padding: 60px 20px;
}
.about_me .about-me_left {
  padding: 10px;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.about_me .about-me_left img {
  margin-right: 10%;
  width: 35%;
  border-radius: 50%;
  pointer-events: none;
}
.about_me .about-me_right {
  padding: 10px;
  flex-basis: 50%;
}
.about_me .about-me_right h2 {
  font-size: 35px;
  margin-bottom: 20px;
  color: whitesmoke;
  pointer-events: none;
}
.about_me .about-me_right ul {
  list-style: none;
}
.about_me .about-me_right ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  transition: all 300ms ease;
  color: whitesmoke;
  pointer-events: none;
}
.about_me .about-me_right ul li i {
  font-size: 20px;
  margin-right: 15px;
}
.about_me .about-me_right ul li:hover {
  color: rgb(126, 204, 230);
}

.footer {
  background-color: #18181b;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0;
}
.footer .footer_left {
  display: flex;
  width: 30%;
  justify-content: center;
  align-items: center;
}
.footer .footer_left p {
  border-right: 1px solid white;
  margin-right: 10px;
  padding-right: 5px;
  pointer-events: none;
}
.footer .footer_left a {
  color: white;
  text-decoration: none;
  font-size: 10px;
}
.footer .footer_right {
  width: 20%;
  display: flex;
  justify-content: space-between;
}
.footer .footer_right a {
  text-decoration: none;
  color: white;
  transition: all 300ms ease;
}
.footer .footer_right a:hover {
  border-bottom: 1px solid white;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes indicator {
  30% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    border: 3px solid #60d480;
    left: -68%;
  }
}
/*animation on scroll with js*/
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition: all 300ms ease;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/*toggle button*/
.white {
  background-color: white;
}
.white .header .header-main .header-main_right h1 {
  font-size: 50px;
  font-weight: 200;
  color: rgb(17, 17, 17);
}
.white .header .header-main_bottom p {
  color: rgb(17, 17, 17);
}
.white .header .header-main_bottom p i {
  color: rgb(17, 17, 17);
}
.white .header .header-main_bottom p::before {
  content: "";
  display: block;
  position: absolute;
  left: -210%;
  top: 50%;
  width: 200%;
  height: 2px;
  border-radius: 10spx;
  background-color: rgb(17, 17, 17);
  z-index: -1;
}
.white .header .header-main_bottom P::after {
  content: "";
  display: block;
  position: absolute;
  left: 110%;
  top: 50%;
  width: 200%;
  height: 2px;
  border-radius: 10spx;
  background-color: rgb(17, 17, 17);
  z-index: -1;
}
.white .about_me .about-me_right h2 {
  font-size: 35px;
  margin-bottom: 20px;
  color: rgb(17, 17, 17);
  pointer-events: none;
}
.white .about_me .about-me_right ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  transition: all 300ms ease;
  color: rgb(17, 17, 17);
  pointer-events: none;
}
.white .techs div h3 {
  font-size: 30px;
  margin-bottom: 10px;
  color: rgb(17, 17, 17);
}
.white .techs div i {
  font-size: 50px;
  color: rgb(17, 17, 17);
  cursor: pointer;
  transition: all 300ms ease;
}
.white .techs div i:hover {
  color: rgb(126, 204, 230);
}

/*responsive*/
@media (max-width: 1440px) {
  .header .header-main {
    padding: 160px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
  }
  .header .header-main .header-main_right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis: 30%;
    display: inline;
  }
  .section_projects {
    padding: 185px 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .about_me {
    margin-top: 40px;
    display: flex;
    padding: 100px 20px;
  }
}
@media (max-width: 1024px) {
  .header .navbar {
    margin-top: 20px;
    position: absolute;
    border: 1px solid rgba(131, 129, 129, 0.438);
    box-shadow: 2px 2px 3px 1px rgba(131, 129, 129, 0.438);
    width: 55%;
    border-radius: 10px;
    position: fixed;
    z-index: 10000;
    background-color: rgba(255, 255, 255, 0.568);
  }
  .section_projects {
    padding: 185px 70px;
    display: flex;
    flex-direction: column;
  }
  .section_projects .port_mask {
    width: 65%;
    border-radius: 10px;
    transition: all 300ms ease;
    position: relative;
    cursor: pointer;
  }
  .footer .footer_left {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
  }
  .footer .footer_left p {
    border-right: 1px solid white;
    margin-right: 10px;
    padding-right: 5px;
    font-size: 10px;
  }
  .footer .footer_right {
    width: 30%;
    display: flex;
    justify-content: space-between;
  }
  .footer .footer_right a {
    text-decoration: none;
    color: white;
    transition: all 300ms ease;
    font-size: 10px;
  }
  .header .navbar .switch-button {
    position: absolute;
    top: 0;
    right: -35%;
    margin-right: 20px;
  }
}
@media (max-width: 768px) {
  .header .navbar {
    margin-top: 20px;
    position: absolute;
    border: 1px solid rgba(131, 129, 129, 0.438);
    box-shadow: 2px 2px 3px 1px rgba(131, 129, 129, 0.438);
    width: 70%;
    border-radius: 10px;
    z-index: 10000;
    background-color: rgba(255, 255, 255, 0.568);
    position: fixed;
  }
  .header .header-main {
    padding: 160px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
  }
  .header .header-main .header-main_left {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header .header-main .header-main_right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis: 40%;
    display: inline;
  }
  .section_projects {
    padding: 185px 10px;
    display: flex;
    flex-direction: column;
  }
  .footer .footer_left p {
    border-right: 1px solid white;
    margin-right: 10px;
    padding-right: 5px;
    font-size: 8px;
  }
}
@media (max-width: 425px) {
  .header .navbar ul li a {
    text-decoration: none;
    color: black;
    font-weight: 200;
    padding: 5px 10px;
    border-radius: 3px;
    transition: all 200ms ease;
    font-size: 10px;
  }
  .header .header-main {
    padding: 160px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
  }
  .header .header-main .header-main_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 40%;
  }
  .header .header-main_bottom p::before {
    content: "";
    display: block;
    position: absolute;
    left: -105%;
    top: 50%;
    width: 100%;
    height: 2px;
    border-radius: 10spx;
    background-color: rgba(65, 65, 65, 0.5568627451);
    z-index: -1;
  }
  .header .header-main_bottom P::after {
    content: "";
    display: block;
    position: absolute;
    left: 110%;
    top: 50%;
    width: 100%;
    height: 2px;
    border-radius: 10spx;
    background-color: rgba(65, 65, 65, 0.5568627451);
    z-index: -1;
  }
  .section_projects {
    padding: 185px 10px;
    display: flex;
    flex-direction: column;
  }
  .section_projects .port_mask {
    width: 100%;
    border-radius: 10px;
    transition: all 300ms ease;
    position: relative;
    cursor: pointer;
  }
  .about_me .about-me_left {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about_me {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 20px;
  }
  .about_me .about-me_left img {
    margin-right: 0%;
    width: 60%;
    border-radius: 50%;
    pointer-events: none;
  }
  .techs div {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .footer {
    background-color: #18181b;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 15px;
  }
  .footer .footer_left a {
    color: white;
    text-decoration: none;
    font-size: 10px;
    display: none;
  }
  .footer .footer_left {
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
  }
  .footer .footer_right {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer .footer_left p {
    border-right: 1px solid white;
    margin-right: 6px;
    padding-right: 4px;
    font-size: 8px;
  }
  .footer .footer_right a {
    text-decoration: none;
    color: white;
    transition: all 300ms ease;
    font-size: 8px;
  }
}
@media (max-width: 375px) {
  .header .navbar {
    margin-top: 20px;
    position: absolute;
    border: 1px solid rgba(131, 129, 129, 0.438);
    box-shadow: 2px 2px 3px 1px rgba(131, 129, 129, 0.438);
    width: 80%;
    border-radius: 10px;
    z-index: 10000;
    background-color: rgba(255, 255, 255, 0.568);
    position: fixed;
  }
}
@media (max-width: 320px) {
  .header .header-main .header-main_right h1 {
    font-size: 50px;
    font-weight: 200;
    text-align: center;
  }
  .section_projects {
    padding: 185px 50px;
    display: flex;
    flex-direction: column;
  }
  .section_projects .port_mask {
    width: 100%;
    border-radius: 10px;
    transition: all 300ms ease;
    position: relative;
    cursor: pointer;
  }
  .section_projects {
    padding: 185px 5px;
    display: flex;
    flex-direction: column;
  }
  .techs div i {
    font-size: 35px;
    color: black;
    cursor: pointer;
    transition: all 300ms ease;
  }
  .footer {
    background-color: #18181b;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    padding: 30px 15px;
  }
  .footer .footer_left {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .footer .footer_right {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
}/*# sourceMappingURL=styles.css.map */